<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>asdf</title>

    <script>
        function checkSelectAll() {
            // 전체 체크박스
            const checkboxes
                = document.querySelectorAll('input[name="nolmal"]');
            // 선택된 체크박스
            const checked
                = document.querySelectorAll('input[name="nolmal"]:checked');
            // select all 체크박스
            const selectAll
                = document.querySelector('input[name="all"]');

            if (checkboxes.length === checked.length) {
                selectAll.checked = true;
            } else {
                selectAll.checked = false;
            }

        }

        function selectAll(selectAll) {
            const checkboxes
                = document.getElementsByName('nolmal');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked
            })
        }



        function printName() {
            const name = document.getElementById('name').value;
            document.getElementById("result").innerText = name;
        }


        function downColor() {
            document.getElementById("down").style.backgroundColor = "red";
        }

        function down() {
            document.getElementById("down").style.backgroundColor = "white";
        }
        function up() {
            document.getElementById("up").style.backgroundColor = "white";
        }

        function upColor() {
            document.getElementById("up").style.backgroundColor = "lightblue";
        }



        function printAppend() {
            const inputName = document.getElementById('inputName').value;
            document.getElementById("resultText").innerText += inputName;
        }

        function deleteText() {
            let str = document.getElementById("resultText").innerText;
            let input = document.getElementById("inputName").value;
            console.log(input);

            let result = str.split(input).join('');
            // change = str.replace(input, '');
            document.getElementById("resultText").innerText = result;

        }
    </script>
</head>

<body>
<input type="checkbox" name="all" onclick="selectAll(this)">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<input type="checkbox" name="nolmal" onclick="checkSelectAll()">
<br>
<br>
<input type="text" id="name"> <button onclick="printName()">확인</button>
<p id="result">abc</p>
<br>
<br>
<br>
<br>
<input type="text" onkeydown="downColor()" onkeyup="down()"><br>
<button id="down">button</button>
<br>
<br>
<br>
<input type="text" onkeydown="up()" onkeyup="upColor()"><br>
<button id="up" style="background-color: lightblue;">button</button>
<br>
<br>
<br>
<br>
<input type="text" id="inputName"><button onclick="printAppend()"> + </button> <button onclick="deleteText()"> -
</button>
<p id="resultText"></p>
</body>

</html>